
<div class="container" style="margin-top: 30px;">
  <h1>Employee Details</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let item of employeeData">
      <p></p>
      <div class="card" style="width: 18rem;overflow: hidden;transition: all 0.5s ease-in-out">
        <img class="image_av" src={{item.avatar}} alt="">
        <div class="card-body">
          <h5 class="card-title">Name {{item.first_name}} {{item.last_name}}</h5>
          <p class="card-text"> <span>email: {{item.email}}</span></p>
          <a class="btn btn-primary" (click)="openDialog(item)">Edit Employee</a>
        </div>
      </div>
    </div>
  </div>
</div>